<turbo-frame id="todo-<%= todo.id %>">
  <label class="label cursor-pointer flex p-3 items-start">
    <input type="checkbox" class="checkbox checkbox-primary align-top" />
    <div class="ml-3 flex-grow">
      <h2 class="font-bold"><%= todo.title %></h2>
      <p class="text-accent"><%= todo.description %></p>
    </div>
  </label>
</turbo-frame>